

@import url('https://fonts.googleapis.com/css?family=Markazi+Text');


* {
  font-family: 'Markazi Text', serif;
  font-size: 19px;
}
body {
  margin: 0;
  padding: 5px;
  /* font-family: sans-serif; */
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);

}

.left, .right {
  vertical-align: top;
  height: 100%;
  display: inline-block;
}

.left {
  width: 30%;
}

.right {
  width: 60%;
}

svg {
  height: 100vh !important;
  width: 990px !important;

}

img {
  max-width: 300px;
}


.node text {
  font: 15px 'Markazi Text', serif;;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: rgba(48, 48, 48, 0.4) !important;
  stroke-width: 2px !important;
}

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px rgb(92, 92, 92);
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}
.graphButton {
  width: 150px;
  height: 30px;
  border-radius: 20px;
}

input {
  font-size: 19px;
  width: 150px;
}
